.vs/
enableProxy
gitconfig_company.ps1

profile/fonts/*


apiKey
docker_data/

# pester配置文件
coverage.xml
testResults.xml
# 加载环境变量
env.ps1

# lingma规则文件
.lingma/rules/project_rules.md

.env

# 脚本执行的备份目录
backup

macEnableProxy.ps1

node_modules

fstab