name: Pester Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Run Pester on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Run Pester
      shell: pwsh
      run: 
        Invoke-Pester -Configuration (./PesterConfiguration.ps1)
    # 测试图形化报告
    - name: Publish Test Report
      uses: dorny/test-reporter@v2
      if: always()
      with:
        name: Pester Tests (${{ matrix.os }})
        path: testResults.xml
        reporter: dotnet-nunit